doctype html 
html
  head
    title  Yuvi Dance Academy
    block scripts
    block style 
      
  body
    nav#navbar 
        ul
            div#logo
                img(src="/static/img/logo.png") 
                | YDA
            li #[a(href='/') Home] 
            li #[a(href='/') About]
            li #[a(href='/') Services]
            li #[a(href='/') Class Info]
            li #[a(href='/contact') Contact Us]
    block content
    footer#footersection 
      |Copyright@ 2022 YuviDanceacademy.com |All rights reserved    

